################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HouseSellingBaseRedactionApi/Properties/PublishProfiles
/HouseSellingBaseRedactionApi/HouseSellingBaseRedactionApi.csproj.user
/HouseSellingBaseRedactionApi/.config
/HouseSellingBaseRedactionApi/bin/Release/net5.0
/HouseSellingBaseRedactionApi/obj/Release/net5.0
/HouseSellingBaseRedactionApi/bin/Debug/net5.0
/HouseSellingBaseRedactionApi/obj
/HouseSellingTests/obj
/HouseSellingTests/bin/Debug/net5.0
/HouseSellingTests/bin/Release/net5.0/CoverletSourceRootsMapping
